<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/assets/css/refie.css" rel="stylesheet" />

    <script src="/assets/js/htmx@2.0.1.js"></script>
    <script src="/assets/js/htmx-ext-response-targets@2.0.0.js"></script>
  </head>
  <body hx-ext="response-targets">
    {% block content %}
    <h3>
        Refies Listing
        <img id="indicator" class="htmx-indicator" src="/assets/spinner.svg">
    </h3>

    <p id="refies" hx-get="/refie" hx-trigger="load" hx-indicator="#indicator">
    </p>
    {% endblock %}
  </body>
</html>
