<tr id="refie-{{ refie.id() }}">

    <td align="center"><tt>{{ refie.id() }}</tt></td>
    <td><input {{form_ref}} name="from" value="{{ refie.time_from() }}"></td>
    <td><input {{form_ref}} name="upto" value="{{ refie.time_upto() }}"></td>
    <td><tt>{{ refie.time_span() }}</tt></td>
    <td><input {{form_ref}} name="label" value="{{ refie.label() }}"></td>

    <td>
        <form {{form_id}} hx-indicator="#indicator">
            <input name="id" value="{{ refie.id() }}" hidden>
            <button hx-put="/refie/{{ refie.id() }}"
                hx-target="#refie-{{ refie.id() }}"
                hx-target-error="#refie-errors"
                hx-swap="outerHTML"
                >
                update
            </button>
            <button hx-get="/refie/{{ refie.id() }}"
                hx-target="#refie-{{ refie.id() }}"
                hx-swap="outerHTML"
                >
                cancel
            </button>
        </form>
    </td>
</tr>
