<form hx-indicator="#indicator">
    <button hx-get="/refie" hx-target="#refies">Refresh</button>
    <span>Current count: {{ Self::len(self) }}</span>
</form>

<hr />

<table class="refies">
    <tr class="header" >
        <th>ID</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Label</th>
        <th>Action</th>
    </tr>

    {% for refie in refies %}
    {{ refie  }}
    {% endfor %}

    <tr>
        <td></td>
        <td><input form="form-create" name="from" placeholder="Start time..."></td>
        <td><input form="form-create" name="upto" placeholder="End time..."></td>
        <td></td>
        <td><input form="form-create" name="label" placeholder="Title..."></td>
        <td>
            <form id="form-create" hx-indicator="#indicator">
                <button hx-post="/refie"
                    hx-target="#refies"
                    hx-target-error="#refie-errors"
                    >
                    create
                </button>
            </form>
        </td>
    </tr>
</table>

<hr />

<div id="refie-errors">
</div>
