<tr id="refie-{{ refie.id() }}">
    <td align="center"><tt>{{ refie.id() }}</tt></td>
    <td><tt>{{ refie.time_from() }}</tt></td>
    <td><tt>{{ refie.time_upto() }}</tt></td>
    <td><tt>{{ refie.time_span() }}</tt></td>
    <td>{{ refie.label() }}</td>
    <td>
        <form hx-indicator="#indicator">
            <input type="text" name="id" value="{{ refie.id() }}" hidden>
            <button
                hx-target="#refie-{{ refie.id() }}"
                hx-swap="outerHTML"
                hx-get="/refie/{{ refie.id() }}/edit"
                >
                edit
            </button>
            <button
                hx-target="#refies"
                hx-delete="/refie/{{ refie.id() }}"
                >
                delete
            </button>
        </form>
    </td>
</tr>
